POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_NAME=dbname

SERVER_SERVICE_PORT=:8080
SERVER_ENGINE_PORT=:6969
SERVER_HOST=http://localhost

SECRET_KEY=secret

ENV=debug

MONGO_HOST=host.docker.internal
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_mongodb_password
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_MONGODB_PORT=27017
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=your_mongodb_password
ME_CONFIG_BASICAUTH_USERNAME=mongoexpress_user
ME_CONFIG_BASICAUTH_PASSWORD=your_mongoexpress_password


CLIENT_ORIGIN_URL=http://localhost:4040
AUTH0_AUDIENCE=audience
AUTH0_AUTHORITY=authority

MGMT_AUTH0_CLIENT_ID=management_client_id
MGMT_AUTH0_CLIENT_SECRET=management_client_secret
MGMT_AUTH0_AUDIENCE=management_audience

REDIS_PASSWORD=your_redis_password
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

RABBITMQ_HOST=amqp://admin:admin@amqp/
